html,
body {
	height: 100%;
}

.preloader {
	position: fixed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #eee;
	z-index: 10;
}

.preloader > div {
	display: inline-block;
	text-align: center;
	margin: auto;
}

.preloader .text-load {
	font-size: 20px;
    color: #868686;
    text-transform: uppercase;
    margin-top: 5px;
    
    -webkit-animation: pulse 1.5s infinite;
    -moz-animation: pulse 1.5s infinite;
    animation: pulse 1.5s infinite;
}

@-webkit-keyframes pulse {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes pulse {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes pulse {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

header {
	position: fixed;
	top: 20px;
	left: 20px;
	text-align: center;
	z-index: 5;
}

header > * {
	display: inline-block;
	vertical-align: top;
}

.logo {
	display: inline-block;
	width: 150px;
}

.header-phone{
	font-size: 20px;
    color: #868686;
    padding: 5px 0;
}

.header-phone > * {
    display: inline-block;
    vertical-align: middle;
}

.header-phone > span {
    margin-right: 8px;
    font-weight: 500;
}

.btn-back {
	color: #868686;
	font-size: 20px;
	text-decoration: none!important;
	text-transform: uppercase;
	margin-top: 10px;
    margin-left: 30px
}

.btn-back > * {
	display: inline-block;
	vertical-align: middle;
}

.btn-back .fa {
	margin-right: 10px;
	font-size: 30px;
	transition: transform .3s ease-in-out;
}

.btn-back:hover .fa {
	transform: translateX(-2px);
}

.img-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.img-container > * {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.front-img {
	width: 50%;
	background-color: #eee;
}

.img-container img {
	display: block;
	margin: auto;
}

.back-img img {
	max-width: 90%;
	max-height: 90%;
}

.info {
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding: 10px;
	color: #868686;
	text-transform: uppercase;
}